doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../scss/helloen/style.css")
        title Hellovun 
    body 
            .box
                img.img(src="https://hallown.vercel.app/assets/img/logo.png", alt="siklet")
                <p>Halloween</p>
            .box1  
                h1 Home
                h1 About
                h1 Cande
                h1 New 
                button.button Support





            .div
                .div1 
            h2 50% Discount On New Products
            .div2
                a(href="#") Go to new





            .div4
                h1  New Arrivals
                .div5 